   
	<title>Joe Biden, chi sar&agrave; la vice: da Kamala Harris a Elizabeth Warren | Elezioni Usa - Corriere.it</title>
    <meta name="title" content="Joe Biden, chi sar&agrave; la vice: da Kamala Harris a Elizabeth Warren | Elezioni Usa - Corriere.it">
    <meta name="description" content="Chi sar&agrave; la vicepresidente di Joe Biden? Leggi lo speciale di Corriere Esteri sulle Elezioni Usa con i ritratti delle candidate, da Kamala Harris a Elizabeth Warren">
    
    <meta property="fb:app_id" content="203568503078644"/>
    <meta property="og:title" content="Joe Biden, chi sar&agrave; la vice: da Kamala Harris a Elizabeth Warren | Elezioni Usa"/>
    <meta property="og:type" content="article"/>
    <meta property="og:locale" content="it_IT"/>
    <meta property="og:url" itemprop="url" content="https://www.corriere.it/speciale/esteri/2020/elezioni-usa-2020-vice-biden/"/>
    <meta property="og:image" content="https://images2.corriereobjects.it/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/social2.png"/>
    <meta property="og:site_name" content="Corriere della Sera"/>
    <meta property="og:description" content="Chi sar&agrave; la vicepresidente di Joe Biden? Leggi lo speciale di Corriere Esteri sulle Elezioni Usa con i ritratti delle candidate, da Kamala Harris a Elizabeth Warren"/>
    <meta name="author" content="Massimo Gaggi, Andrea Marinelli, Viviana Mazza, Marilisa Palumbo, Simone Sabattini, Giuseppe Sarcina
"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Corriereit">
    <meta name="twitter:creator" content="Massimo Gaggi, Andrea Marinelli, Viviana Mazza, Marilisa Palumbo, Simone Sabattini, Giuseppe Sarcina
">
    <meta name="twitter:title" content="Joe Biden, chi sar&agrave; la vice: da Kamala Harris a Elizabeth Warren | Elezioni Usa">
    <meta name="twitter:description" content="Chi sar&agrave; la vicepresidente di Joe Biden? Leggi lo speciale di Corriere Esteri sulle Elezioni Usa con i ritratti delle candidate, da Kamala Harris a Elizabeth Warren">
    <meta name="twitter:image" content="https://images2.corriereobjects.it/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/social2.png">

    <link rel="canonical" href="https://www.corriere.it/speciale/esteri/2020/elezioni-usa-2020-vice-biden/"/>

    
