<section class="credit">
    
    
    		<p>
        		<strong>A cura di:</strong> Viviana Mazza <br/>
    		</p>
    		<p>
        		<strong>Testi:</strong> Massimo Gaggi, Andrea Marinelli, Viviana Mazza, Marilisa Palumbo, Simone Sabattini, Giuseppe Sarcina <br/>
    		</p>
    		<p>
        		<strong>Sviluppo grafico:</strong> Grafici Corriere Online <br/>
    		</p>
        
    

   
</section>