<section class="copertina">
    <div class="cont">
	    <div class="titoli">
		      <h1>Elezioni Usa 2020, chi sar&agrave; la vice di Joe Biden? </h1>
		      <h3>&laquo;Sar&agrave; una donna&raquo;, ha detto il candidato dei democratici alla Casa Bianca. Una vicepresidente degli Stati Uniti farebbe la Storia. Solo due donne, finora, ci sono andate vicino: Geraldine Ferraro e Sarah Palin. Stavolta, come ha detto Biden, la vice &laquo;deve essere pronta alla presidenza dal primo giorno&raquo;. In corsa 12 candidate, tra cui due ex rivali per nomination, sei afroamericane, una fedelissima di Obama e una veterana di guerra. Ecco le loro storie.</h3>
		      <p class="autore">
		      	di Massimo Gaggi, Andrea Marinelli, Viviana Mazza, Marilisa Palumbo, Simone Sabattini, Giuseppe Sarcina 
		      </p>

		</div>
	</div>	  
</section>
