<div class="contenitoreFaccini">
    <section class="lista" id="listaDonne">

        <!--#include virtual="include-titolo.html" -->

        <div class="binario">
            <ul class="list">
                    <li class="donna donna-0" data-id="0"
                        data-nome="Kamala"
                        
                         data-foto="kamala Harris" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/kamala.jpg" alt="Kamala Harris" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Kamala <span>Harris</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-1" data-id="1"
                        data-nome="Susan"
                        
                         data-foto="susanrice Rice" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/susanrice.jpg" alt="Susan Rice" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Susan <span>Rice</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-2" data-id="2"
                        data-nome="Karen"
                        
                         data-foto="bass Bass" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/bass.jpg" alt="Karen Bass" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Karen <span>Bass</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-3" data-id="3"
                        data-nome="Val"
                        
                         data-foto="demings Demings" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/demings.jpg" alt="Val Demings" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Val <span>Demings</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-4" data-id="4"
                        data-nome="Gretchen"
                        
                         data-foto="whitmer Whitmer" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/whitmer.jpg" alt="Gretchen Whitmer" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Gretchen <span>Whitmer</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-5" data-id="5"
                        data-nome="Elizabeth"
                        
                         data-foto="warren Warren" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/warren.jpg" alt="Elizabeth Warren" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Elizabeth <span>Warren</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-6" data-id="6"
                        data-nome="Keisha Lance"
                        
                         data-foto="keisha Bottoms" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/keisha.jpg" alt="Keisha Lance Bottoms" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Keisha Lance <span>Bottoms</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-7" data-id="7"
                        data-nome="Michelle Lujan"
                        
                         data-foto="grisham Grisham" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/grisham.jpg" alt="Michelle Lujan Grisham" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Michelle Lujan <span>Grisham</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-8" data-id="8"
                        data-nome="Tammy"
                        
                         data-foto="baldwin Baldwin" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/baldwin.jpg" alt="Tammy Baldwin" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Tammy <span>Baldwin</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-9" data-id="9"
                        data-nome="Stacey"
                        
                         data-foto="stacey Abrams" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/stacey.jpg" alt="Stacey Abrams" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Stacey <span>Abrams</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-10" data-id="10"
                        data-nome="Tammy"
                        
                         data-foto="duckworth Duckworth" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/duckworth.jpg" alt="Tammy Duckworth" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Tammy <span>Duckworth</span></h2>
                        </div>
                    </li>
                    <li class="donna donna-11" data-id="11"
                        data-nome="Gina"
                        
                         data-foto="raimondo Raimondo" 
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/raimondo.jpg" alt="Gina Raimondo" tagManager="event" >
                        </div>
                        <div class="donna-text">
                                <h2 class="donna-titolo">Gina <span>Raimondo</span></h2>
                        </div>
                    </li>
            </ul>
        </div>
    </section>
</div>

<section class="description" id="long_desc">

    <div class="messages"></div>

    <ul class="donneList">
            <li class="descrizione" data-id="0" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/kamala.jpg" alt="Kamala Harris">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Kamala <span>Harris</span>, la preferita che non sfonda</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Senatrice</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> California</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Giuseppe Sarcina, corrispondente da Washington</strong></p>
                    
                        <p class="descrizione-testo">Kamala, la favorita (ma con qualche dubbio). Nell'inverno del 2019 il ticket pi&ugrave; gettonato tra i parlamentari democratici al Congresso di Washington era Joe Biden-Kamala Harris. In questi due anni &egrave; accaduto di tutto, ma quell'ipotesi ha resistito all'urto. <strong>Anzi, al momento appare ancora la pi&ugrave; probabile</strong>. <br/><br/>
Kamala Harris, 55 anni, senatrice della California, studi giuridici, ha cominciato come sostituto procuratore a San Francisco. Nel 2010 &egrave; stata eletta Procuratore Generale della California. Nel 2016  &egrave; approdata al Congresso. Figlia di una scienziata Tamil e di un professore di economia giamaicano, Kamala ha corso nelle primarie presentandosi come la rappresentante degli afroamericani e delle altre minoranze. Aveva iniziato con il botto, il 27 gennaio 2019: un comizio-evento con circa ventimila persone a Oakland, la sua citt&agrave; natale. Una folla trumpiana (dei tempi d'oro). Per qualche mese era sembrato che potesse diventare la lepre, la sorpresa della gara tra i democratici. Il suo momento migliore, forse, risale al 27 giugno 2019, <strong>quando affond&ograve; proprio Biden, in un dibattito televisivo tra candidati</strong>. Kamala rinfacci&ograve; all'ex presidente di aver ostacolato, in un lontano passato, il cosiddetto &laquo;busing&raquo;, il servizio bus che trasportava i bambini e i ragazzini afroamericani nelle scuole di altri quartieri per favorirne l'integrazione. <br/><br/>
<strong>La luce di Kamala, per&ograve;, si &egrave; spenta rapidamente</strong>. Si &egrave; ritirata il 3 dicembre 2019, senza partecipare neanche a una prova elettorale. La sua prestazione sollev&ograve; molti dubbi, che ora diventano incognite pesanti. <a href="https://www.corriere.it/esteri/19_febbraio_24/i-puristi-contro-kamala-nera-ma-non-afroamericana-8728a0ba-3872-11e9-af2a-db624861da78.shtml">Harris &egrave; davvero cos&igrave; popolare tra gli afroamericani?</a> Dai sondaggi non si direbbe. La <em>black community</em> gli ha preferito non solo Biden, ma anche Bernie Sanders. <br/><br/>
Qual &egrave; la sua identit&agrave; politica? Difficile dirlo. Spesso usa un linguaggio simile a quello della sinistra radical; sui contenuti, invece, oscilla parecchio, arenandosi su una generica terra di nessuno.<br/><br/>
Biden ha bisogno di allargare il pi&ugrave; possibile il blocco sociale, mettendo insieme moderati e oltranzisti. Kamala Harris ha sicuramente dimostrato grande personalit&agrave; e anche tenuta scenica. Ora dovr&agrave; convincere non solo Biden, ma <strong>tutte le componenti del partito</strong> di poter essere una figura di sintesi.   </p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Kamala" data-cognome="Harris" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Kamala" data-cognome="Harris" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="1" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/susanrice.jpg" alt="Susan Rice">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Susan <span>Rice</span>, l&rsquo;accademica delle relazioni internazionali</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Ex ambasciatrice Usa all'Onu, ex consigliera per la Sicurezza nazionale di Obama</li>
                        
                        
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Massimo Gaggi</strong></p>
                    
                        <p class="descrizione-testo">Un personaggio fuori dagli schemi prevalenti ma da non sottovalutare &egrave; Susan Rice. A differenza delle altre possibili candidate, non &egrave; una figura politica nota. &Egrave; una studiosa che ha ricoperto incarichi diplomatici di primo piano, ma non si &egrave; mai presentata al giudizio degli elettori. <strong>Ai comizi preferisce le discussioni di politica estera nei think tank di Washington</strong>.<br/><br/>
Potrebbe essere un handicap, ma non &egrave; detto. La Rice &egrave; una donna di grande esperienza che ha lavorato alla Casa Bianca con Biden quando lei era <strong>consigliera per la Sicurezza nazionale di Barack Obama</strong>. Per otto anni ha vissuto nel cuore della politica estera Usa: prima come <strong>ambasciatrice degli Stati Uniti alle Nazioni Unite</strong>, poi a fianco del presidente. La Rice, insomma, conosce molto bene i meccanismi dell'Amministrazione e delle relazioni internazionali dell'America. Certo, se Biden vuole mandare un segnale d'apertura alla sinistra radicale della Ocasio-Cortez, la Rice, pragmatica e arcigna, potrebbe non essere la persona giusta. Ma con lei il candidato democratico avrebbe le spalle coperte in caso di problemi di salute (i repubblicani continuano ad attaccarlo <strong>puntando sull'et&agrave; avanzata e sul suo aspetto senile</strong>): la Rice sarebbe in grado di sostituirlo molto pi&ugrave; facilmente di chi ha amministrato una citt&agrave; o ha fatto il parlamentare per qualche anno. Nera, 55 anni, nata a Washington in una famiglia di origine giamaicana, Susan ha lavorato nel mondo accademico e in studi professionali, ma, soprattutto, ha collaborato <strong>con la Casa Bianca di Bill Clinton</strong> prima di entrare nell'amministrazione Obama. Dura nei rapporti con gli avversari storici degli Usa, dalla Russia alla Cina, per la campagna di Trump sarebbe difficile dipingerla come una che vuole &laquo;aprire le porte dell'America ai comunisti&raquo;.<br/><br/>
C'&egrave;, poi, da considerare lo stato d'animo personale di Biden. Che terr&agrave; certamente conto delle convenienze politiche, ma non fino al punto di avere al suo fianco una vice con la quale non ha un buon rapporto personale. Biden ricorda bene che nel 2008 il candidato repubblicano alla Casa Bianca <strong>John McCain</strong> &ndash; avversario politico, ma suo buon amico personale &ndash; <strong>si pent&igrave; per aver scelto Sarah Palin</strong>, che lo copriva con la destra evangelica, ma che rese la sua campagna elettorale un calvario. Con Susan non accadrebbe.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Susan" data-cognome="Rice" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Susan" data-cognome="Rice" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="2" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/bass.jpg" alt="Karen Bass">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Karen <span>Bass</span>, la presidente (poco nota) del black caucus</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Deputata</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> California</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Simone Sabattini</strong></p>
                    
                        <p class="descrizione-testo">Se si votasse solo sulle questioni razziali e sulla lotta agli abusi degli agenti, Joe Biden non avrebbe scelta migliore di Karen Bass. Californiana, 66 anni, la deputata democratica rappresenta il 37&deg; collegio elettorale di Los Angeles, <strong>quello dove scoppiarono sia le rivolte del 1965 che quelle del 1992</strong>, seguite al pestaggio di <a href="https://www.corriere.it/esteri/20_giugno_02/minneapolis-central-park-video-come-autodifesa-fanno-differenza-502c711e-a503-11ea-8ef6-a417ca68eeb2.shtml">Rodney King</a>. Non solo: al Congresso Bass &egrave; la presidente del Black Caucus &ndash; il gruppo che riunisce tutti i parlamentari di colore &ndash; e nelle ultime settimane &egrave; stata uno dei primi firmatari della riforma della polizia approvata dalla Camera il 25 giugno scorso. Ma tutta la vita di questa determinata e affabile figlia di un postino testimonia l'impegno per la causa che &egrave; riesplosa nel Paese un mese prima di quel voto in parlamento. <br/><br/>Alla carriera politica vera e propria &egrave; arrivata tardi, nel 2004: prima, Bass &egrave; stata in trincea. Recentemente, parlando con il <em>New York Times</em>, ha ricordato come <strong>il suo attivismo sia cominciato nel 1974</strong>, esattamente (e incidentalmente) l'anno in cui George Floyd veniva al mondo. Assistente di pronto soccorso negli &laquo;eighties&raquo; dell'<strong>Aids, del crack e della cocaina</strong> dilaganti, poi fondatrice di un'organizzazione per risollevare le zone degradate di <strong>Los Angeles</strong> da miseria e criminalit&agrave;, lei stessa, nel tempo, &egrave; stata <strong>oggetto di violenze degli agenti</strong> e ha seguito come mediatrice sociale decine di casi di abusi. <br/><br/>A Biden l'accomunano una certa capacit&agrave; di stringere accordi e promuovere iniziative anche con gli avversari politici (per esempio nel 2008 con l'allora governatore Arnold Schwarzenegger, quando lei era speaker della Camera californiana); e lo stesso tipo di tragedia personale: <strong>come l'ex vicepresidente, ha perso una figlia in un incidente stradale</strong>, nel 2006. Il problema di Karen Bass &ndash; quello che le toglie molte chance &ndash; &egrave; solo uno: <strong>la scarsa notoriet&agrave;</strong>. Pur essendo molto rispettata a Washington, <strong>non ha il rilievo pubblico, n&eacute; forse il carisma, di Kamala Harris, Susan Rice o Val Demings</strong>. La sua esperienza, salvo sorprese, potrebbe non bastarle a questo giro: ma potrebbe tornare molto utile all'avversario di Donald Trump in caso di elezione. Anche come successora di Nancy Pelosi alla guida della Camera. Insomma, nonostante i 66 anni, sentiremo ancora parlare di lei. </p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Karen" data-cognome="Bass" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Karen" data-cognome="Bass" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="3" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/demings.jpg" alt="Val Demings">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Val <span>Demings</span>, la deputata law and order</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Deputata</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> Florida</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Viviana Mazza</strong></p>
                    
                        <p class="descrizione-testo">Val Demings ha cominciato a farsi notare nel corso dell&rsquo;<a href="https://www.corriere.it/esteri/20_febbraio_05/impeachment-trump-assolto-usa-processo-02422438-485d-11ea-9387-c272ba1d511e.shtml"><em>impeachment</em> di Trump</a>. Durante il &laquo;processo&raquo; del presidente, la <strong>deputata 63nne</strong> che da tre anni rappresenta alla Camera il <strong>10&deg; distretto della Florida</strong>, &egrave; riuscita meglio di altri suoi colleghi democratici a tradurre le argomentazioni legali in un linguaggio concreto. Pi&ugrave; di recente, dopo le proteste per George Floyd, il suo nome &egrave; apparso nella lista delle possibili vice di Joe Biden. Le <strong>ragioni sono due</strong>: la prima &egrave; che si sono moltiplicati gli appelli perch&eacute; il candidato democratico alla Casa Bianca scelga una vice <strong>afroamericana</strong> come lei; in secondo luogo, Demings, con i <strong>suoi 27 anni di carriera nella polizia</strong> (nel 2007 &egrave; diventata la prima donna a capo del dipartimento di Orlando), lo aiuterebbe a respingere le accuse di Trump d&rsquo;essere <strong>&laquo;leggero contro i criminali&raquo;</strong>. <br/><br/>
Per&ograve;, il punto di forza di Demings &egrave; anche il suo tallone d&rsquo;Achille. Proprio tra gli afroamericani, c&rsquo;&egrave; chi non apprezza affatto questo suo passato <em>law and order</em>. <strong>&laquo;Demings non &egrave; nera, &egrave; blu&raquo;</strong> (come la divisa dei poliziotti), dicono i critici. Inoltre, Biden, che ha 77 anni e <strong>ne compirebbe 80 nel suo primo mandato</strong>, ha detto di cercare una donna che sia <strong>&laquo;pronta alla presidenza sin dal primo giorno&raquo;</strong>, ma lei non ha una lunga esperienza politica. <br/><br/>
<strong>Valdez Venita, detta Val</strong>, &egrave; nata a Jacksonville in Florida, ed &egrave; cresciuta con sei fratelli e sorelle in un appartamentino di due stanze. <strong>La mamma faceva la domestica, il pap&agrave; il bidello</strong>, e per arrotondare tagliava l&rsquo;erba e raccoglieva le arance nei campi: a volte, doveva chiedere lo stipendio mensile in anticipo per riuscire a pagare le gite scolastiche dei figli. Il primo lavoro di Val: la lavapiatti, a 14 anni. &Egrave; stata anche la prima della famiglia a laurearsi. &Egrave; diventata assistente sociale, si occupava dei bambini dati in affidamento. Poi si &egrave; arruolata nella polizia: voleva mettere da parte i soldi per gli studi in Giurisprudenza, ma alla fine &egrave; rimasta. Lei <strong>sostiene di aver ridotto il crimine del 40% a Orlando</strong>, ma c&rsquo;&egrave; chi la accusa di non aver fatto abbastanza per ridurre <strong>l&rsquo;uso eccessivo della forza</strong> da parte della polizia. Agli occhi di alcuni, nonostante le sue origini umili, Demings &egrave; diventata parte del &laquo;sistema&raquo;; secondo altri, invece, persone come lei (con tutte le loro contraddizioni) sono le pi&ugrave; adatte a correggerne le mancanze.<br/><br/>&Egrave; chiaro che la prima vicepresidente farebbe la Storia, ma &egrave; meno chiaro fino a che punto possa davvero aiutare Biden ad arrivare alla Casa Bianca. Soprattutto in un&rsquo;elezione come questa, che sembra sempre di pi&ugrave; <strong>un referendum su Trump</strong>. Gli elettori democratici hanno dimostrato gi&agrave; nelle primarie di aver scelto Biden non perch&eacute; lui fosse il loro candidato preferito, ma perch&eacute; credevano che avesse pi&ugrave; chance di battere l'attuale presidente. <strong>&Egrave; questo che li motiva</strong>. Ora c&rsquo;&egrave; chi crede che per massimizzare l&rsquo;affluenza alle urne del suo elettorato, Biden farebbe bene a scegliere una donna afroamericana. Per&ograve; c&rsquo;&egrave; anche chi pensa che pi&ugrave; che aiutarlo <strong>la scelta della vice rischia di danneggiarlo</strong>. Finora, sta vincendo praticamente stando fermo. La vice potrebbe <strong>piacere a una parte del suo elettorato, ma deluderne un&rsquo;altra</strong>.  
</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Val" data-cognome="Demings" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Val" data-cognome="Demings" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="4" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/whitmer.jpg" alt="Gretchen Whitmer">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Gretchen <span>Whitmer</span>, una dura nello Stato delle tute blue</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Governatrice</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> Michigan</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Andrea Marinelli</strong></p>
                    
                        <p class="descrizione-testo">Quando si &egrave; candidata a governatrice nel 2018, Gretchen Whitmer lo ha fatto promettendo che avrebbe &laquo;aggiustato le dannate strade&raquo; del Michigan. In questa affermazione c&rsquo;&egrave; tutto <strong>il pragmatismo</strong> di una donna che ha scalato la montagna politica in uno degli stati che pesano di pi&ugrave; alle presidenziali: &egrave; stata cinque anni alla Camera, nove al Senato &ndash; durante i quali rivel&ograve; di aver subito un assalto sessuale ai tempi dell&rsquo;universit&agrave; &ndash; e infine governatrice. Appena insediata si &egrave; ritrovata ad affrontare <strong>le conseguenze della guerra commerciale di Trump</strong>, che ha avuto un duro impatto sull&rsquo;economia del Michigan, poi a febbraio &egrave; stata scelta per pronunciare <strong>la risposta democratica al suo discorso sullo Stato dell&rsquo;Unione</strong>, un onore riservato di norma agli astri nascenti del partito. &Egrave; un&rsquo;<em>outsider</em> che non ha fatto carriera a Washington, insomma: a trascinarla sul palcoscenico nazionale sono stati soprattutto la pandemia e i successivi attacchi ricevuti dal presidente. <br/><br/>In uno degli Stati pi&ugrave; colpiti, soprattutto all&rsquo;inizio, ha gestito l&rsquo;emergenza con <strong>fermezza, a volte eccessiva</strong>, causando per questo accese proteste quando ha ampliato i termini del <em>lockdown</em>, e ha denunciato l&rsquo;amministrazione Trump per non aver fornito sufficiente materiale protettivo agli Stati in lotta contro il virus. Il presidente ha risposto nel suo stile, attaccandola in televisione e via Twitter e provando a sminuirla <strong>con un nomignolo, &laquo;la donna del Michigan&raquo;</strong>, ma gran parte della popolazione ne ha apprezzato la gestione. Le controversie legate al Covid-19 potrebbero averne fatto scendere le quotazioni, ma Whitmer, una moderata di 48 anni, porterebbe al ticket di Biden <strong>una ventata di &laquo;giovent&ugrave;&raquo;</strong> e, soprattutto, la sua dote elettorale: nel 2016 in Michigan Trump ottenne una vittoria decisiva per <strong>appena 10.700 voti</strong>, e i democratici faranno di tutto per riconquistare lo Stato e il resto della Rust Belt.

</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Gretchen" data-cognome="Whitmer" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Gretchen" data-cognome="Whitmer" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="5" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/warren.jpg" alt="Elizabeth Warren">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Elizabeth <span>Warren</span>, la scelta progressista e pragmatica</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Senatrice</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> Massachusetts</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Massimo Gaggi</strong></p>
                    
                        <p class="descrizione-testo">E se Biden scegliesse Elizabeth Warren? Joe ha promesso un ticket presidenziale con una donna di colore come sua vice, &egrave; vero, ma la Warren, oltre a entusiasmare i giovani, <strong>piace molto anche a tanti afroamericani pragmatici</strong>. Elettori che, a una sindaca nera con poca esperienza di governo nazionale o a una Kamala Harris che ha un'immagine <em>law and order</em>, poco attraente in un periodo di reazioni agli abusi della polizia, preferiscono Elizabeth: &egrave; bianca, ma &egrave; <strong>la pi&ugrave; determinata a</strong> <a href="https://www.corriere.it/esteri/19_giugno_27/secchiona-statalista-patriota-di-sinistra-ciclone-warren-12be2cb0-9914-11e9-a7fc-0829f3644f7a.shtml">ridurre le diseguaglianze economiche</a> che colpiscono soprattutto gli afroamericani ed ha abbracciato <a href="https://www.corriere.it/sette/esteri/20_giugno_12/america-bianca-che-sta-neri-ma-divario-resta-de96a074-aa61-11ea-96b1-0359b9449147.shtml">la causa di Black Lives Matter</a> <strong>molto prima che</strong> <a href="https://www.corriere.it/esteri/20_maggio_28/stati-uniti-minneapolis-fiamme-george-floyd-soffocato-polizia-morto-numerosi-feriti-2c96d30e-a10f-11ea-bedb-9a92490f6ea3.shtml">l'uccisione di George Floyd</a> la portasse sulla bocca di tutti. <br/><br/>
Per la maggior parte dei neri avere un vicepresidente di colore avrebbe un elevato valore simbolico, oltre ad essere una garanzia di impegno su alcuni temi sociali essenziali. Ma di quei temi la Warren si occupa da decine d'anni, ha gi&agrave; formulato proposte precise durante la campagna per le primarie, sa come evitare le trappole amministrative e parlamentari ed &egrave; capace di scaldare gli animi. <strong>&Egrave; tuttora improbabile che Biden scelga lei</strong>, visti gli impegni che ha preso, ma sono in tanti i progressisti che lo invitano a fare la scelta migliore, senza farsi condizionare dalle promesse fatte alle donne di colore.<br/><br/>
<strong>Jonathan Capehart</strong>, columnist nero del <em>Washington Post</em>, spiega ai suoi lettori perch&eacute; punta sulla Warren usando la metafora di <strong>Aunt Gloria</strong>, una vecchia zia che preferisce stare coi piedi per terra: vorrebbe una vicepresidente di colore, ma <strong>nessuna di quelle in campo ha esperienza di governo</strong>. Sostiene che bisognerebbe prima addestrarle, ma <strong>l'America non ha tempo</strong>: serve una squadra capace di incidere fin dal primo giorno. Secondo un sondaggio condotto da Ipsos e <em>Washington Post</em>, la met&agrave; dell'elettorato nero la penserebbe come zia Gloria.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Elizabeth" data-cognome="Warren" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Elizabeth" data-cognome="Warren" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="6" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/keisha.jpg" alt="Keisha Lance Bottoms">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Keisha Lance <span>Bottoms</span>, la sindaca tutta cuore e concretezza</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Sindaca di Atlanta</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> Georgia</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Marilisa Palumbo</strong></p>
                    
                        <p class="descrizione-testo">&laquo;Keisha Lance Bottoms sa cosa significa vedere la polizia entrarti in casa, mettere tutto a soqquadro, <strong>compreso il tuo cesto dei giocattoli</strong>, e guardare tuo pap&agrave; mentre viene portato via ammanettato&raquo;. <strong>La sindaca di Atlanta aveva otto anni</strong> all&rsquo;epoca dell&rsquo;episodio riportato da <em>Usa Today</em>, e ricorda che gli agenti le ordinarono di <strong>restare immobile sul divano</strong>. Lei esegu&igrave;, e di pi&ugrave;, era cos&igrave; spaventata che <strong>rest&ograve; cos&igrave;, ferma, per ore</strong>: sa di cosa parla, quando parla dei modi intimidatori della polizia. Suo padre, il noto <strong>cantautore di R&B</strong> <a href="https://en.wikipedia.org/wiki/Major_Lance" target="_blank">Major Lance</a>, diventato poi famoso in Gran Bretagna come idolo della Northern Soul, ebbe sempre problemi con la droga: dopo quell&rsquo;arresto rest&ograve; in carcere per quattro anni. <br/><br/>Lance Bottoms, 50 anni, &egrave; nata e cresciuta ad Atlanta, capitale della Black America. Il suo nome, che viaggiava ancora sotto i radar nazionali, ha cominciato a diventare familiare con l&rsquo;epidemia del Covid: era lei infatti la portavoce non ufficiale di quel partito delle <strong>sindache che si sono dimostrate decise e concrete nel contrastare il virus</strong>. &Egrave; stata anche tra le prime a sottolineare come in America la pandemia colpisse molto di pi&ugrave; gli afroamericani del resto della popolazione. E ha criticato apertamente e duramente il governatore del suo Stato, il repubblicano Brian Kemp, per aver allentato le misure di prevenzione del Covid nonostante le infezioni continuassero a salire. Il 6 luglio ha annunciato di essere risultata anche lei positiva al Covid. &laquo;Il virus ha letteralmente colpito a casa&raquo;, ha scritto: un&rsquo;esperienza che render&agrave; ancora pi&ugrave; potente la sua testimonianza. Qualche giorno dopo ha emanato un&rsquo;ordinanza che rende <strong>obbligatorio l&rsquo;uso delle mascherine</strong> in pubblico, nonostante Kemp abbia annunciato azioni legali contro i comuni che adottano il provvedimento. <br/><br/>Ma pi&ugrave; della risposta alla pandemia, quello che l&rsquo;ha fatta conoscere al Paese &egrave; stato il discorso pronunciato a braccio dopo una notte in cui le proteste per la morte di George Floyd nella sua Atlanta avevano preso una piega violenta. &laquo;<strong>Prima di ogni altra cosa sono una madre</strong> &ndash; aveva detto con voce ferma ma visibilmente emozionata &ndash; sono madre di quattro ragazzi neri (tutti adottati, ndr) in America, uno dei quali ha diciotto anni. E quando ho visto l&rsquo;omicidio di George Floyd ho sofferto come una madre avrebbe sofferto. E ieri quando ho sentito che c&rsquo;erano delle proteste violente ad Atlanta ho fatto quello che farebbe ogni madre; ho chiamato mio figlio e gli ho detto: "Dove sei, perch&eacute; non posso proteggerti, e i ragazzi neri non dovrebbero essere fuori stasera"&raquo;. E ancora: &laquo;Quello che sta succedendo nelle strade di Atlanta non &egrave; da Atlanta, non sono proteste, <strong>non &egrave; nello spirito di Martin Luther King.</strong> &Egrave; caos&raquo;. Empatica con i manifestanti e con le paure degli afroamericani ma netta nel condannare le derive violente: quello che la maggior parte degli elettori democratici vuole sentire. <br/><br/>Quando, tre settimane dopo la morte di Floyd, <a href="https://www.corriere.it/esteri/20_giugno_13/atlanta-polizia-afroamericano-ucciso-3fbe434c-ad9c-11ea-84a7-c6d5b5b928b0.shtml">Rayshard Brooks</a> &egrave; stato ucciso in un parcheggio del fast food Wendy&rsquo;s da un poliziotto, Bottoms &egrave; stata rapidissima a licenziare l&rsquo;agente, e ad accettare <a href="https://www.corriere.it/esteri/20_giugno_14/erika-shields-via-poliziotta-bianca-atlanta-che-voleva-limitare-l-uso-armi-95b9692a-ae78-11ea-a6ad-39f8417949e6.shtml">le dimissioni della capa della polizia Erika Shields</a>, che pure era una sua alleata. Un altro punto a favore di Lance Bottoms, che secondo molti retroscena sarebbe con Kamala Harris in cima alla short list di Biden, &egrave; che a differenza di Harris ha appoggiato il candidato democratico da tempo, da quando era in difficolt&agrave; ed erano in tanti a dubitare che potesse portare a casa la nomination. Ha viaggiato per lui in tutto il Sud, l&rsquo;ha difeso in tv, <strong>c&rsquo;&egrave; sempre stata</strong>.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Keisha Lance" data-cognome="Bottoms" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Keisha Lance" data-cognome="Bottoms" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="7" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/grisham.jpg" alt="Michelle Lujan Grisham">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Michelle Lujan <span>Grisham</span>, la governatrice che pu&ograve; ispirare il voto latino</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Governatrice</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> New Mexico</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Marilisa Palumbo</strong></p>
                    
                        <p class="descrizione-testo">Una candidata donna, che rispecchi l&rsquo;America. Nelle settimane seguite alla morte violenta di George Floyd, ennesimo nero soffocato da un poliziotto bianco, gli appelli a Biden perch&eacute; quella donna fosse afroamericana si sono moltiplicati. Ma <strong>un ticket che somigli all&rsquo;America</strong> &egrave; un ticket che rappresenti <strong>il peso delle minoranze</strong>, e <a href="https://www.corriere.it/sette/esteri/20_febbraio_21/potere-latino-jlo-altri-chi-sono-chi-votano-ispanici-usa-923374f4-5094-11ea-a691-847c284ba0e7.shtml">gli ispanici sono tra i segmenti dell&rsquo;elettorato in pi&ugrave; rapida crescita</a>. Un segmento che durante le primarie &egrave; stato un tallone d&rsquo;achille per Joe Biden, superato tra i latinos da Bernie Sanders in California, Texas and Nevada. Non &egrave; un punto debole da poco per il candidato democratico, dal momento che il voto ispanico &egrave; rilevante in molti &laquo;battleground state&raquo;, gli Stati in bilico. E che Trump contro Hillary Clinton nel 2016 fece meglio del previsto tra i <em>latinos</em>, un terzo dei quali, secondo un recente sondaggio, <strong>non ha ancora scelto il suo candidato per il 2020</strong>. Ed ecco perch&eacute; circola il nome di Michelle Lujan Grisham, 60 anni, due figli, eletta governatrice del New Mexico nel 2018 con un distacco di 15 punti dall&rsquo;avversario dopo due mandati repubblicani.  <br/><br/>Lujan Grisham &egrave; stata deputata e anche ministro della Salute nel suo Stato, un punto del curriculum non secondario in tempi di pandemia. Ma la sua attenzione per l&rsquo;assistenza sanitaria arriva soprattutto dal <strong>tragico vissuto personale</strong>. La sorella di Michelle, Kimberly, mor&igrave; a 21 anni per un tumore che le era stato diagnosticato gi&agrave; a due: i suoi genitori trascorsero <strong>decenni a pagare le spese accumulate</strong>. Il marito &egrave; morto nel 2004 per un <strong>aneurisma cerebrale</strong> e la futura governatrice present&ograve; una denuncia (poi ritirata) contro il medico per omicidio colposo. L&rsquo;impegno a migliorare l&rsquo;<em>healthcare</em> &egrave; quindi personale.  La governatrice si &egrave; poi sempre occupata molto degli anziani, che in questi mesi sono stati, in particolare quelli che vivevano nelle case di cura, le principali vittime del coronavirus. Nel 1997, quando era a capo della agenzia statale sull&rsquo;invecchiamento, Lujan Grisham <strong>si intrufol&ograve; in una Rsa pubblica</strong> dopo aver ricevuto delle lamentele sulla struttura: finse un infarto e fu abbandonata per ore mentre le furono rubati molti effetti personali. &laquo;Sono tenace &ndash; ha detto a <em>Politico</em> nel 2013 &ndash; specialmente quando ci sono in ballo delle vite umane&raquo;. Quasi un quarto delle leggi che ha sponsorizzato si concentrano sulla Sanit&agrave;. <br/><br/>Anche sul coronavirus la sua risposta &egrave; stata pronta ed efficace, ancora pi&ugrave; vitale in uno degli Stati pi&ugrave; poveri del Paese e con meno letti di ospedale pro capite. &laquo;Ho detto alla gente di stare a casa, chiuso le scuole, ridotto le aperture all&rsquo;essenziale. Abbiamo messo in quarantena per 14 giorni chi veniva da fuori, misurato la temperatura e fatto compilare questionari ai camionisti. Siamo stati molto aggressivi, e ha pagato&raquo;, ha detto fiera a <em>Rolling Stone</em>. La tenacia e il coraggio di Michelle si sono visti anche nel modo in cui ha affrontato, senza temere i cali di popolarit&agrave; (che sono arrivati) e le rivolte interne al partito, alcuni <strong>temi tab&ugrave;</strong> in uno stato come il New Mexico: <strong>le armi, l&rsquo;aborto e l&rsquo;immigrazione</strong>. Un piglio che potrebbe piacere all&rsquo;elettorato giovane e pi&ugrave; liberal.

</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Michelle Lujan" data-cognome="Grisham" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Michelle Lujan" data-cognome="Grisham" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="8" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/baldwin.jpg" alt="Tammy Baldwin">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Tammy <span>Baldwin</span>, la senatrice gay che porta in dote il Wisconsin</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Senatrice</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> Wisconsin</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Andrea Marinelli</strong></p>
                    
                        <p class="descrizione-testo">Se venisse scelta per correre insieme a Joe Biden verso la Casa Bianca, la senatrice del Wisconsin Tammy Baldwin sarebbe <strong>la prima candidata alla presidenza apertamente gay</strong> nella Storia degli Stati Uniti. Per lei non sarebbe una novit&agrave;: gi&agrave; nel 1998 era diventata la prima donna gay a entrare in Congresso, venendo eletta prima alla Camera, dove &egrave; restata 14 anni, e poi al Senato, dove &egrave; al secondo mandato. Non &egrave; per questo, per&ograve;, che il team del candidato democratico la sceglierebbe: <strong>le prime volte piacciono agli elettori democratici</strong>, dicono gli analisti, ma Tammy Baldwin &egrave; soprattutto un punto di riferimento nel mondo progressista e aiuterebbe il moderato Biden a <strong>recuperare voti a sinistra</strong>. &laquo;Ho sempre cercato di non fare la Storia, ma la differenza&raquo;, ha precisato lei in passato. Fra le altre cose, ha sostenuto il <strong>Medicare for All di</strong> <a href="https://www.corriere.it/esteri/20_aprile_08/primarie-dem-passo-indietro-sanders-rafforzare-biden-tenere-dentro-l-ala-radicale-939fb9b6-79ba-11ea-afb4-c5f49a569528.shtml">Bernie Sanders</a> &ndash; l&rsquo;estensione della copertura sanitaria gratuita per tutti i cittadini &ndash; e recentemente si &egrave; detta favorevole alla <a href="https://www.corriere.it/esteri/20_giugno_09/biden-va-parenti-george-floyd-congresso-freno-poliziotti-5194556c-a9db-11ea-b9d7-2bd646fda8c5.shtml">riforma della polizia</a>, finita sotto accusa a livello nazionale dopo l&rsquo;omicidio di George Floyd. <br/><br/>Come ha notato il suo collega <strong>Barney Frank</strong>, ex deputato gay del Massachusetts, Baldwin non ha mai perso un&rsquo;elezione &ndash; la prima candidatura risale al 1986, quando aveva 24 anni &ndash; e un po&rsquo; di scaramanzia, magari, aiuta. Per&ograve;, ha aggiunto Frank, <strong>ha due problemi: &laquo;Non &egrave; nera, e non &egrave; Elizabeth Warren&raquo;</strong>. &Egrave; vero, ma nonostante questo potrebbe aiutare il partito a riconquistare il suo Stato, <strong>uno dei tre &ndash; insieme a Michigan e Pennsylvania &ndash; che hanno portato Trump alla presidenza nel 2016</strong> per un totale di 77 mila voti. Al di l&agrave; dei numeri, Baldwin ha ammesso pi&ugrave; volte di essere in contatto con il team Biden, ha confermato che accetterebbe senza dubbi se venisse scelta, ma non si &egrave; mai sbilanciata sulle sue effettive possibilit&agrave;. &laquo;Tengo queste conversazioni riservate. <strong>Dobbiamo soltanto vincere</strong>&raquo;, ha affermato a giugno a una rete televisiva di Milwaukee, mostrando un notevole senso della squadra.

</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Tammy" data-cognome="Baldwin" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Tammy" data-cognome="Baldwin" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="9" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/stacey.jpg" alt="Stacey Abrams">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Stacey <span>Abrams</span>, la star autocandidata della Georgia</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Attivista, ex candidata governatrice della Georgia</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> Georgia</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Giuseppe Sarcina, corrispondente da Washington</strong></p>
                    
                        <p class="descrizione-testo">Stacey, l'autocandidata. La pretattica, le manovre di corridoio non fanno parte del mondo di Stacey Abrams. Da almeno un paio di mesi <a href="https://www.corriere.it/esteri/20_aprile_25/stacey-abrams-all-arrembaggio-saro-io-vice-joe-biden-b1fb5876-8724-11ea-9b77-4fc0668b38e0.shtml">si &egrave; fatta avanti pubblicamente</a> per il posto da vice nel ticket di Joe Biden, con queste parole: &laquo;Guardate che cosa abbiamo fatto in Georgia, quante persone abbiamo mobilitato tra le minoranze. Io metterei questa mia capacit&agrave; di vincere un'elezione come vicepresidente al fianco di chiunque. Serve un team che rispecchi le diversit&agrave;&raquo;. In realt&agrave;, <strong>l'afroamericana Abrams perse quelle elezioni del 2018</strong> per la carica di governatore in Georgia.  Ma non lo ha mai riconosciuto, accusando il suo rivale Brian Kemp di aver sfruttato i cavilli legislativi e burocratici per <strong>impedire l'esercizio del voto</strong> a larghe fasce della comunit&agrave; nera. <strong>&Egrave; il tema del suo ultimo libro</strong>, uscito lo scorso 9 giugno: <em>Our Time is Now</em>. Nei suoi piani potrebbe esserci la piattaforma per una campagna presidenziale vibrante, movimentista. <br/><br/>Figlia di due pastori della Chiesa metodista, 46 anni, laurea in legge alla Yale University, al momento non ha cariche istituzionali. Nel febbraio 2019, Nancy Pelosi le affid&ograve; il compito di pronunciare la replica al discorso sullo Stato dell'Unione di Donald Trump. Da quel momento, Abrams &egrave; entrata nella riserva pregiata del partito democratico. Ora il suo nome, in un modo o nell'altro, &egrave; entrato nella rosa di donne tra cui Biden dovrebbe scegliere la vice. <br/><br/><strong>Ma c'&egrave; una controindicazione.</strong> Nella fase iniziale delle primarie, raccontavano al Congresso qualche mese fa, Biden cerc&ograve; l'appoggio di Abrams, ma senza successo. Anzi la star georgiana <strong>ostent&ograve; la sua neutralit&agrave;</strong>, collocandosi al di sopra dello scontro. <a href="https://www.corriere.it/esteri/elezioni-usa-2020/notizie/primarie-joe-biden-vince-south-carolina-torna-corsa-a90e33c2-5b5b-11ea-8b1a-b76251361796.shtml">Biden, poi, stravinse in South Carolina</a>, <strong>grazie al sostegno di James Clyburn</strong>, leader locale degli afroamericani.  L'ex vice presidente, quindi, ha dimostrato di avere gi&agrave; in casa il consenso degli afroamericani. Certo, Abrams potrebbe fare da ponte con <a href="https://www.corriere.it/esteri/20_febbraio_02/setta-fan-sanders-che-attacca-tutti-traditori-316bb9c0-4602-11ea-89f5-524fb04840d5.shtml">il mondo di Bernie Sanders</a>, al suo fianco nella battaglia del 2018 in Georgia. Inoltre, Stacey &egrave; una pupilla di <strong>Oprah Winfrey</strong>, l'influente star televisiva della cultura progressista.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Stacey" data-cognome="Abrams" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Stacey" data-cognome="Abrams" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="10" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/duckworth.jpg" alt="Tammy Duckworth">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Tammy <span>Duckworth</span>, l&rsquo;osso duro che tiene insieme leadership e maternit&agrave;</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Senatrice</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> Illinois</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Viviana Mazza</strong></p>
                    
                        <p class="descrizione-testo">Tammy Duckworth, la senatrice dell&rsquo;Illinois, ha perso entrambe le gambe in Iraq nel 2004, all'et&agrave; di 36 anni, quando <strong>l&rsquo;elicottero Black Hawk che pilotava fu colpito da un missile</strong> sparato da miliziani iracheni. La sua famiglia combatte per la patria dai tempi della Guerra di indipendenza americana. Per uno come Donald Trump, che il <a href="https://www.corriere.it/esteri/16_agosto_02/trump-sfuggi-cinque-volte-servizio-militare-c1741d0c-5883-11e6-b011-ed7749260a21.shtml">servizio militare lo ha evitato</a> grazie a una <strong>dubbia diagnosi medica di speroni ossei nei talloni</strong>, una candidata alla vicepresidenza come Duckworth, nel &laquo;ticket&raquo; con Joe Biden, sarebbe un osso duro.<br/><br/>
Duckworth &egrave; entrata in politica nel 2012. Prima donna disabile eletta alla Camera, &egrave; diventata la voce dei veterani di guerra (una battaglia in cui &egrave; impegnata da tempo <strong>anche Jill Biden</strong>, la moglie di Joe). Diventata senatrice due anni fa, <strong>&egrave; la prima a dare alla luce un figlio mentre &egrave; in carica</strong>: ha portato <a href="https://www.corriere.it/esteri/18_aprile_19/senato-usa-neonati-duckworth-6f9e09c2-43a8-11e8-8c6c-5ab8ac5380d3.shtml">la bambina con s&eacute; in Aula per votare</a> quando aveva appena dieci giorni di vita, un&rsquo;immagine di conciliazione tra <strong>leadership e maternit&agrave;</strong>, che rester&agrave; per sempre negli annali. Non &egrave; molto conosciuta a livello nazionale e non &egrave; afroamericana, ma &egrave; espressione dell&rsquo;<strong>America multirazziale</strong>: &egrave; nata a Bangkok 52 anni fa da <strong>madre cinese-thailandese e padre ex marine</strong>. Entrambi lavoravano per le Nazioni Unite. Pi&ugrave; tardi, la famiglia ha cononsciuto la povert&agrave;, quando il padre ha perso il lavoro. <br/><br/>
Duckworth ha detto al <em>New York Times</em> che, in virt&ugrave; del suo passato, <strong>pu&ograve; criticare Trump come nessun altro &egrave; in grado di fare</strong>. Lo scorso 19 giugno, mentre partecipava alle celebrazioni del Juneteenth, in ricordo della fine della schiavit&ugrave; negli Stati Uniti, la senatrice ha spiegato: &laquo;La bandiera degli Stati Uniti <strong>avvolger&agrave; la bara di mio padre, la mia, quella di mio marito e di mio fratello</strong> in quanto militari. &Egrave; cos&igrave; da generazioni. Nessuno ha pi&ugrave; rispetto di me per la bandiera. <strong>Ma rispetto anche il diritto di contestarla</strong>&rdquo;. 
</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Tammy" data-cognome="Duckworth" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Tammy" data-cognome="Duckworth" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
            <li class="descrizione" data-id="11" tagManager="event" data-citazione="">
                <div class="descrizione-image">
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/raimondo.jpg" alt="Gina Raimondo">
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">Gina <span>Raimondo</span>, un nome per tempi pandemici</h2>

                    <ul class="descrizione-altro">
                         <li class="descrizione-altro-elem carica"><strong>Carica: </strong> Governatrice</li>
                        
                         <li class="descrizione-altro-elem paese"><strong>Stato: </strong> Rhode Island</li>
                        
                        
                    </ul>
                    
                        <p class="descrizione-giornalista">di <strong>Simone Sabattini</strong></p>
                    
                        <p class="descrizione-testo">Quella di Gina Raimondo sarebbe una scelta da tempi pandemici. La 49enne governatrice del pi&ugrave; piccolo Stato americano, il Rhode Island, &egrave; stata infatti una delle pi&ugrave; veloci a rispondere all&rsquo;ondata di contagi e si &egrave; guadagnata <strong>la fama di domatrice del virus</strong>. A met&agrave; giugno, mentre nel resto del Paese la media della popolazione testata era del 7%, la sua <em>constituency</em> viaggiava al 17%. Due mesi prima il tasso di riproduzione del virus (R0) era 4, lei lo ha ricondotto a 1. Per farlo, a fine marzo <strong>entr&ograve; anche in rotta di collisione con il suo collega newyorkese Andrew Cuomo</strong> &ndash; in quei giorni eroe anti-Trump sulla gestione dell&rsquo;epidemia &ndash; perch&eacute; impose una quarantena bisettimanale a chiunque arrivasse in Rhode Island da New York. Cuomo protest&ograve; e lei estese la stretta ai visitatori di ogni stato dell&rsquo;Unione. Insomma Raimondo ha dimostrato di essere una &laquo;tipa tosta&raquo;. <br/><br/><strong>Piccola di statura</strong> (1,60, &laquo;tre centimetri in meno del <em>founding father</em> James Madison&raquo;, segnala il <em>Washington Post</em>), studi a Harvard e Yale, &laquo;proud mother of two&raquo;, come scrive sull&rsquo;account Twitter, Raimondo &egrave; <strong>figlia di un immigrato italiano che lavorava alla locale fabbrica di orologi Bulova</strong>, prima che questa chiudesse per <strong>spostare tutto in Cina</strong> e lasciandolo a casa insieme ad altri 1.000 operai. Il signor Joseph in quel momento aveva 56 anni. Raimondo dunque capisce i problemi della <em>working class</em>, ma &egrave; l&rsquo;espressione dell&rsquo;ala destra del partito democratico. Ha lavorato per anni nei <strong>fondi d&rsquo;investimento</strong> &ndash; quello che ha creato dal nulla &egrave; specializzato in sanit&agrave;, di qui la prontezza e la sensibilit&agrave; a temi attualissimi &ndash; e <a href="https://www.corriere.it/primarie-democratiche-usa-2020-candidati-sanders-biden-warren/">alle primarie</a> ha sostenuto, finch&eacute; ce n&rsquo;&egrave; stato modo, <strong>il miliardario</strong> <a href="https://www.corriere.it/opinioni/20_gennaio_02/sfida-digitale-bloomberg-483790c4-2d94-11ea-af94-9dcececd831c.shtml">Mike Bloomberg</a>. <br/><br/>In Rhode Island ha tagliato le tasse e la spesa pubblica: <strong>&egrave; una donna dei conti</strong>, prima di diventare governatrice era stata tesoriere generale. <strong>Ma ha anche sgonfiato il tasso di disoccupazione</strong> (che era il pi&ugrave; alto d&rsquo;America) attirando business e puntando sulle partnership pubblico-privato. Con i tempi che corrono dopo la morte di George Floyd, il nero ucciso dalla polizia a Minneapolis, una bianca moderata come lei non pare avere molte chance di diventare la vice di Joe Biden. Ma Raimondo ha saputo fiutare l&rsquo;aria anche su questo e pochi giorni fa, <a href="https://www.corriere.it/speciale/esteri/2020/tutte-le-statue-sotto-attacco-in-america-e-nel-mondo/">in piena distruzione di statue</a> nel Paese, ha annunciato di voler cambiare il nome ufficiale del proprio stato, che sarebbe &laquo;Rhode Island and Providence Plantations&raquo;, eliminando quella seconda parte che porta con s&eacute; un riferimento ormai intollerabile alla schiavit&ugrave;. &laquo;Non possiamo continuare a dare questo schiaffo in faccia ai nostri concittadini afroamericani&raquo;, ha detto.</p>

                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="Gina" data-cognome="Raimondo" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="Gina" data-cognome="Raimondo" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
    </ul>
    
    <a href="#0" class="cd-top" tagManager="event">Torna su</a>
     
</section>
