<div class="contenitoreFaccini">
    <section class="lista" id="listaDonne">

        <!--#include virtual="include-titolo.html" -->

        <div class="binario">
            <ul class="list">
                {{#each data}}
                {{#if nome}}
                    <li class="donna donna-{{@index}}" data-id="{{@index}}"
                        data-nome="{{nome}}"
                        {{#if categoria}} data-categoria="{{normalizzami categoria}}" {{/if}}
                        {{#if [foto]}} data-foto="{{[foto]}} {{[cognome]}}" {{/if}}
                        tagManager="event">

                    	<div class="donna-image" tagManager="event">
                            {{#if [foto]}}
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/{{[foto]}}.jpg" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}" tagManager="event" >
                            {{else}}
                                <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/donne.jpg" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}" tagManager="event" >
                            {{/if}}
                        </div>
                        <div class="donna-text">
                            {{#if nome}}
                                <h2 class="donna-titolo">{{{normalizzami nome}}} {{#if cognome}}<span>{{{normalizzami cognome}}}</span>{{/if}}</h2>
                            {{/if}}
                        </div>
                    </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </section>
</div>

<section class="description" id="long_desc">

    <div class="messages"></div>

    <ul class="donneList">
        {{#each data}}
        {{#if nome}}
            <li class="descrizione" data-id="{{@index}}" tagManager="event" data-citazione="{{normalizzami citazione}}">
                <div class="descrizione-image">
                    {{#if [foto]}}
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/{{[foto]}}.jpg" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}">
                    {{else}}
                        <img src="<!--#echo var="WEB_ROOT_IMG" -->/speciale/esteri/2020/elezioni-usa-2020-vice-biden/assets/img/donne.jpg" alt="{{normalizzami nome}} {{#if cognome}}{{normalizzami cognome}}{{/if}}">
                    {{/if}}
                    
                    
                </div>
                <div class="descrizione-text">
                    <h2 class="descrizione-titolo">{{{normalizzami nome}}}{{#if cognome}} <span>{{{normalizzami cognome}}}</span>{{/if}}, {{{normalizzami frase}}}</h2>

                    <ul class="descrizione-altro">
                        {{#if carica}} <li class="descrizione-altro-elem carica"><strong>Carica: </strong> {{normalizzami carica}}</li>{{/if}}
                        {{#if anni}} <li class="descrizione-altro-elem anni"><strong>Anni: </strong> {{normalizzami anni}}</li>{{/if}}
                        {{#if stato-usa}} <li class="descrizione-altro-elem paese"><strong>Stato: </strong> {{normalizzami stato-usa}}</li>{{/if}}
                        {{#if corsa}} <li class="descrizione-altro-elem corsa"><strong></strong> {{normalizzami corsa}}</li>{{/if}}
                        {{#if citazione}} <li class="descrizione-altro-elem citazione"><strong></strong> {{normalizzami citazione}}</li>{{/if}}
                    </ul>
                    
                    {{#if giornalista}}
                        <p class="descrizione-giornalista">di <strong>{{normalizzami giornalista}}</strong></p>
                    {{/if}}
                    
                    {{#if testo}}
                        <p class="descrizione-testo">{{{normalizzami testo}}}</p>
                    {{/if}}

                    {{!-- Social --}}
                    
                </div>

                <p class="social_donna">
                    <a class="fa fa-facebook-official" data-nome="{{normalizzami nome}}" data-cognome="{{normalizzami cognome}}" title="Facebook" href="javascript:void(0);" tagManager="social"><span data-icon="f" aria-hidden="true"></span></a>
                    <a class="fa fa-twitter-square" data-nome="{{normalizzami nome}}" data-cognome="{{normalizzami cognome}}" title="Tweet" href="javascript:void(0);" tagManager="social"><span data-icon="t" aria-hidden="true"></span></a>
                    <a class="fa fa-google-plus" title="Google+" href="javascript:void(0);" tagManager="social"><span data-icon="g" aria-hidden="true"></span></a>
                </p>
            </li>
        {{/if}}  
        {{/each}}
    </ul>
    
    <a href="#0" class="cd-top" tagManager="event">Torna su</a>
     
</section>
