<section class="copertina">
    <div class="cont">
	    <div class="titoli">
	    	{{#each data}}
		      {{#if Titolo}}<h1>{{normalizzami Titolo}} </h1>{{/if}}
		      {{#if Sommario}}<h3>{{{normalizzami Sommario}}}</h3>{{/if}}
		      {{#if Autore}}
		      <p class="autore">
		      	di {{{normalizzami Autore}}} 
		      </p>
		      {{/if}}
		      {{#if Data}}
		      <p class="data">{{{normalizzami Data}}} </p>
		       {{#if Firme}}
		       {{/if}}
		      <p class="firme">con i testi di <em>{{{normalizzami Firme}}}</em> </p>
		      {{/if}}
		      {{#if Testo}}
		    <p class="testo">{{{normalizzami Testo}}} </p>
		    {{/if}}
		    {{/each}}

		</div>
	</div>	  
</section>
